* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$error-color: #ee4444;
$theme-color: #0231c8;

.welcome-immence {
  //   position: relative;
  //   width: 100%;
  //   height: 38px;
  //   left: 153px;
  //   top: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  //   line-height: 61px;
  //   display: flex;
  color: $theme-color;
}

.left-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  .welcome-div {
    margin-left: -62px;
  }
}

.signing-to-continue {
  //   position: absolute;
  //   width: 373px;
  //   height: 28px;
  //   left: 153px;
  //   top: 95px;
  //   font-style: normal;
  font-weight: 400;
  font-size: 21px;
  //   line-height: 34px;
  color: #797979;
}

.error {
  color: $error-color;
}

.Auth-form {
  width: 420px;
  //   padding-top: 30px;
  //   padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

label {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  //   line-height: 37px;
  //   display: flex;
  //   align-items: center;
  color: #647484;
}

.login-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  position: relative;
  ::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 40px;
    bottom: 0;
    width: 20px;
    // z-index: 11;
    background: url('../../assets/images/email.svg') center / contain no-repeat;
  }
  .forgot-password {
    position: absolute;
    right: 0px;
  }
}
.login-footer {
  //   position: relative;
  //   height: 100%;
  //   width: 100%;
  //   top: 300px;
  //   border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-div {
  //   position: relative;
  background: linear-gradient(180deg, #0a1158 0%, #0a1158 100%);
  //   background: #0231c8;
  //   width: 100%;
  //   height: 100%;
}
.pattern-img {
  //   height: 100%;
  //   margin-top: -30px;
  margin-left: -100px;
  height: 629px;
  //   object-fit: cover;
}
